
@font-face {
	font-family: "titlefont1" ;
	font-style: normal ;
	font-weight: 600 ;
	src: url( "./Eina01-SemiBold.woff2" ) format( "woff2" );
}
@font-face {
	font-family: "titlefont3" ;
	font-style: normal ;
	font-weight: 600 ;
	src: url( "./Eina03-SemiBold.woff2" ) format( "woff2" );
}
@font-face {
	font-family: "copyfont" ;
	font-style: normal ;
	font-weight: 300 ;
	src: url( "./OpenSans-light.woff" ) format( "woff" ) ;
}
@font-face {
	font-family: "copyfont" ;
	font-style: normal ;
	font-weight: 400 ;
	src: url( "./OpenSans.woff" ) format( "woff" ) ;
}
@font-face {
	font-family: "copyfont" ;
	font-style: normal ;
	font-weight: 600 ;
	src: url( "./OpenSans-semibold.woff" ) format( "woff" ) ;
}
@font-face {
	font-family: "copyfont" ;
	font-style: normal ;
	font-weight: 700 ;
	src: url( "./OpenSans-bold.woff" ) format( "woff" ) ;
}
